@use 'mixin' as m;
#information {

    background-color: #F9F9F9;
    padding-bottom: 168px;
    padding-inline:4%;
    @include m.tab{
        padding-bottom:80px;
    }

    .information {
        .info_content {
            display: flex;
            gap: 20px;
            align-items: center;
            margin-bottom: 20px;

            @include m.tab {
                flex-direction: column;
            }

            img {
                max-width: 480px;
                height: 241px;
                object-fit: cover;
                @include m.tab{
                    max-width:100%;
                }
            }

            .info_text {
                border-left: 10px solid #443535;
                padding-left: 40px;
                @include m.tab{
                    border:none;
                    width:100%;
                    padding:0;
                }

                h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-bottom: 20px;
                    @include m.tab{
                        border-bottom:5px solid #443535;
                        padding-bottom:10px;
                        margin-bottom:10px;
                    }
                }
                .store_info_content{
                    @include m.tab{
                        display: flex;
                        gap:10px;
                        justify-content: space-between;
                        align-items: center;
                    }
                    @include m.sp{
                        flex-direction: column;
                    }
                    .info_address{
                        @include m.tab{
                        width:50%;
                    }
                    @include m.sp{
                        width:100%;
                    }
                    }
                    .info_business_hours{
                        @include m.tab{
                            width:50%;
                        }
                        @include m.sp{
                            width:100%;
                        }
                    }
                }

                dl {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding-top: 10px;
                    @include m.tab{
                        max-width:200px;
                    }
                    @include m.sp{
                        max-width:100%;
                    }
                }

                dt {
                    width: 40%;
                    background-color: #443535;
                    color:#F9F9F9;
                    margin-bottom:8px;
                    text-align: center;
                }

                dd {
                    width: 55%;
                    margin-bottom:8px;
                }
            }
        }
        iframe{
            width:100%;
        }
    }
}